doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= 'Гелиос'
  body
    header 
        .header__banner 
            img#mob768__pattern(src=require('./images/patternmob.svg'), alt="pattern")
            img#main__pattern(src=require('./images/pattern.svg'), alt="pattern")
            .header__bunner__text 
              <strong>1С: ERP</strong> <span>Внедрение и сопровождение</span>
        .header__bar 
            img(src=require('./images/logo.svg'), alt="logo")
            .header__bar__mobile 
              img(src=require("./images/icons/serchmob.svg"), alt="search")
              img#profile(src=require("./images/icons/profile.svg"), alt="profile")
              .burger 
                img#menu(src=require("./images/icons/menu.svg"), alt="menu")
                ul.burger__menu 
                  li Услуги
                  li 1С ERP 
                  li Наши работы
                  li Новости 
                  li О компании
                  li Блог 
                  li Контакты
            .header__bar__content 
              .header__bar__content__contacts 
                .header__bar__content__contacts__phones 
                  .header__bar__content__contacts__phones__item <span>Кострома</span>
                    .header__bar__content__contacts__phones__item__numbers 
                      .header__bar__content__contacts__phones__item__numbers__item +7 (4942) 42-20-00
                      .header__bar__content__contacts__phones__item__numbers__item#seccond_number +7 (4942) 42-22-00
                  .header__bar__content__contacts__phones__item#moskva <span>Москва</span>
                    .header__bar__content__contacts__phones__item__numbers +7 (495) 134-03-70
                .header__bar__content__contacts__right 
                  .socials 
                    a(href="#") 
                      img(src=require('./images/icons/ok.svg'), alt="ok")
                    a(href="#") 
                      img(src=require('./images/icons/vk.svg'), alt="vk")
                    a(href="#") 
                      img(src=require('./images/icons/youtube.svg'), alt="youtube")
                    a(href="#") 
                      img(src=require('./images/icons/rutube.svg'), alt="rutube")
                  .search 
                    a#search(href="#")
                      img(src=require("./images/icons/search.svg"), alt="search")
                  .buttons 
                    button Заказать звонок
                    button#login Войти
              .header__bar__content__nav 
                nav 
                  ul.nav__menu 
                    li.dropdown 
                      a.dropdown__link(href="#") Услуги 
                        img(src=require('./images/arrow.svg'), alt="arrow")
                      ul.dropdown__content 
                        li 1C ERP
                        li 1C:Внедрение и сопровождение
                        li Продажа программного обеспечения
                        li ИТ Обслуживание организаций
                        li Учебный центр
                    li 
                      a(href="#") 1С ERC
                    li 
                      a(href="#") Наши работы
                    li 
                      a(href="#") Новости
                    li.dropdown 
                      a.dropdown__link(href="#") О компании 
                        img(src=require('./images/arrow.svg'), alt="arrow")
                      ul.dropdown__content 
                        li Окомпании
                        li Награды
                        li Карьера в ГЕЛИОС
                        li Система качества
                        li Политака конфиденциальности
                    li 
                      a(href="#") Блог
                    li 
                      a(href="#") Контакты
    main 
      .back__mobile 
        img(src=require('./images/icons/arrow.svg'), alt="arrow")
        span Назад
      h3 Новости
      ul.years 
        li Все
        li 2023
        li 2022
        li 2021
        li 2020
        li 2019
        li 2018
        li 2017
        li 2016
        li 2015
      section.news 
      .news__container 
        .news__container__article
          img(src=require('./images/news/note.svg'), alt="note")
          .__text Поддержка формата машиночитаемой доверенности (МЧД) версии 003 в системе '1С:Предприятие 8'
          .__date 2 августа 2023
        .news__container__article
          img(src=require('./images/news/note.svg'), alt="it")
          .__text Знакомство с IT-предприятиями гКостромы
          .__date 19 июля 2023
        .news__container__article
          img(src=require('./images/news/star.svg'), alt="star")
          .__text Как перерегистрировать программные продукты «1С»?
          .__date 23 июня 2023
        .news__container__article
          img(src=require('./images/news/1c.svg'), alt="1c")
          .__text Как рассчитывается НДФЛ в 2023 году при начислении заработной платы?
          .__date 22 июня 2023
        .news__container__article
          img(src=require('./images/news/uch.svg'), alt="uch")
          .__text В нашем учебном центре прошли курсы по ведению бухгалтерского учета в программе «1С: Бухгалтерия государственного учреждения 8»Редакция 2.0.
          .__date 01 июня 2023
        .news__container__article
          img(src=require('./images/news/note.svg'), alt="note")
          .__text В раздел методическая поддержка добавлена статья 'Важные настройки для заполнения отчета ЕФС-1Подраздел 1.3 в ПП 'Зарплата и кадры государственного учреждения 8', редакция 3
          .__date 19 июля 2023
        .news__container__article
          img(src=require('./images/news/note.svg'), alt="note")
          .__text В раздел методическая поддержка добавлена статья 'Производственный функционал и новые возможности подсистемы 'Производство' в ПП' 1С: ERPУправление предприятием 2' редакция 2.5.'
          .__date 22 июня 2023
        .news__container__article
          img(src=require('./images/news/star.svg'), alt="star")
          .__text В нашем учебном центре прошли курсы по ведению бухгалтерского учета в программе «1С: Бухгалтерия государственного учреждения 8»Редакция 2.0.
          .__date 01 июня 2023
        .news__container__article
          img(src=require('./images/news/note.svg'), alt="note")
          .__text В раздел методическая поддержка добавлена статья 'Производственный функционал и новые возможности подсистемы 'Производство' в ПП' 1С: ERPУправление предприятием 2' редакция 2.5.'
          .__date 14 апреля 2023
        .news__container__article
          img(src=require('./images/news/star.svg'), alt="star")
          .__text Более 56 600 слушателей Единого семинара 1С узнали о новшествах законодательства и новых возможностях решений 1С для эффективной организации учета и управления бизнесом
          .__date 6 апреля2023
        .news__container__article
          img(src=require('./images/news/star.svg'), alt="star")
          .__text Поздравляем милых женщин с 8 марта!
          .__date 7 марта 2023
        .news__container__article
          img(src=require('./images/news/star.svg'), alt="star")
          .__text Поздравляем с Днём защитника отечества!
          .__date 22 февраля 2023
        .news__container__article
          img(src=require('./images/news/note.svg'), alt="note")
          .__text В раздел методическая поддержка добавлена статья 'Производственный функционал и новые возможности подсистемы 'Производство' в ПП' 1С: ERPУправление предприятием 2' редакция 2.5.'
          .__date 22 июня 2023
        .news__container__article
          img(src=require('./images/news/star.svg'), alt="star")
          .__text В нашем учебном центре прошли курсы по ведению бухгалтерского учета в программе «1С: Бухгалтерия государственного учреждения 8»Редакция 2.0.
          .__date 01 июня 2023
        .news__container__article
          img(src=require('./images/news/note.svg'), alt="note")
          .__text В раздел методическая поддержка добавлена статья 'Производственный функционал и новые возможности подсистемы 'Производство' в ПП' 1С: ERPУправление предприятием 2' редакция 2.5.'
          .__date 14 апреля 2023
        .news__container__article
          img(src=require('./images/news/star.svg'), alt="star")
          .__text Более 56 600 слушателей Единого семинара 1С узнали о новшествах законодательства и новых возможностях решений 1С для эффективной организации учета и управления бизнесом
          .__date 6 апреля 2023
        .news__container__article
          img(src=require('./images/news/star.svg'), alt="star")
          .__text Поздравляем милых женщин с 8 марта!
          .__date 7 марта 2023
        .news__container__article
          img(src=require('./images/news/star.svg'), alt="star")
          .__text Поздравляем с Днём защитника отечества!
          .__date 22 февраля 2023
      .see__more Показать еще
    footer 
      section.top__footer 
        .top__footer__container 
          .top__footer__up 
            .footer__navbar 
              .footer__navbar__item 
                p.__item__title Услуги 
                ul 
                  li 1C ERP
                  li 1C:Внедрение и сопровождение
                  li Продажа программного обеспечения
                  li ИТ Обслуживание организаций
                  li Учебный центр
              .footer__navbar__item
                p.__item__title Наши работы
                ul 
                  li Отзывы по внедрениям
                  li Кейсы проектов по рефльной<br>автоматизации
              .footer__navbar__item#last_item
                p.__item__title Компания
                ul 
                  li Окомпании
                  li Награды
                  li Карьера в ГЕЛИОС
                  li Система качества
                  li Политака конфиденциальности
              .footer__navbar__social 
                ul.__links 
                  li Новости
                  li Блог
                  li Контакты
                .__icons 
                  img(src=require('./images/icons/ok.svg'), alt="ok")
                  img#latest(src=require('./images/icons/vk.svg'), alt="vk")
                  img#latest(src=require('./images/icons/youtube.svg'), alt="youtube")
                  img#latest(src=require('./images/icons/rutube.svg'), alt="rutube")
              .footer__navbar__getcall 
                img(src=require('./images/icons/gear.svg'), alt="gear")
                .__content Проконсультируем, установим, настроим и обучим
                .__btn 
                  button Заказать звонок 
            .footer__subscribe 
              img(src=require('./images/icons/sub-icon.svg'), alt="sub")
              .subscribe__container__title Подпишитесь на e-mail рассылку, чтобы первыми<br> увидеть новые статьи
              form 
                input(type="text" placeholder=('e-mail'))
                button Подписаться
          .top__footer__mobile 
            .top__footer__mobile__content 
              .top__footer__modile__socials
                img(src=require('./images/icons/ok.svg'), alt="ok")
                img#latest(src=require('./images/icons/vk.svg'), alt="vk")
                img#latest(src=require('./images/icons/youtube.svg'), alt="youtube")
                img#latest(src=require('./images/icons/rutube.svg'), alt="rutube")
              .top__footer__modile__modal 
                img(src=require('./images/icons/gear.svg'), alt="gear") 
                .mobile__call 
                  p Проконсультируем, установим, настроим и обучим<br>
                  button Заказать звонок
              .modal__mobile__357 
                .modal__mobile__357__upper 
                  img(src=require('./images/icons/gear.svg'), alt="gear")
                  p Проконсультируем, установим, настроим и обучим
                .modal__mobile__357__lower Заказать звонок
              .top__footer__modile__menu 
                ul 
                  li#v 
                    span Услуги
                    span 
                      img(src=require('./images/arrow.svg'), alt="arrow")
                  li#v 
                    span Наши работы
                    span  
                      img(src=require('./images/arrow.svg'), alt="arrow")
                  li#v  
                    span Компания
                    span 
                      img(src=require('./images/arrow.svg'), alt="arrow")
                  li Новости
                  li Методические рекомендации
                  li Контакты
              .top__footer__mobile__sub 
                img(src=require('./images/icons/sub-icon.svg'), alt="sub")
                .sub__ttl Подпишитесь на e-mail рассылку, чтобы первыми увидеть новые статьи
                form.sub__form 
                  input(type="text" placeholder='e-mail')
                  button Подписаться 
          .top__footer__down 
            img#gel(src=require('./images/logo.svg'), alt="logo")
            img#onec(src=require('./images/franchize.svg'), alt="franch")
            .top__footer__down__info 
              p.email info@gkgelios.ru
              .__location 
                span Кострома
                .__tel 
                  div +7 (4942) 42-20-00
                  div +7 (4942) 42-22-00
                .__addr ул. Советская, д. 136А (2 этаж)
            .top__footer__down__info
              .__location#msk 
                span Москва
                .__tel +7 (405)134-03-70
                .__addr ул. Декабристов, д. 20 к1
      .bottom__footer 
        .bottom__footer__container 
          .bottom__footer__container__date © 2015-2023 «Гелиос» Группа компаний
          .bottom__footer__container__conf Политика конфиденциальности
          .bottom__footer__container__dev 
            p сделано в 
            img(src=require('./images/mediaset.svg'), alt="logo")
